package view

import (
	"gohx/internal/component"
)

templ NotFound() {
	@component.Layout(component.LayoutProps{
		ShowNavbar:  false,
		ShowSidebar: false,
	}) {
		<h1>404 Not Found</h1>
		<a href="/">Back to home</a>
	}
}
