package view

import (
	"gohx/internal/component"
)

templ NotFound() {
    @component.Layout(component.LayoutProps{
        ShowNavbar: false,
    }) {
        <h1>404 Not Found</h1>
        <a hx-boost="true" href="/">Back to home</a>
    }
}
