package view

import (
	"gohx/internal/component"
)

script HomeScript() {
    console.log("from custom / script");
}

templ HomeStyle() {
	<style>
        h1 {
            color: violet;
        }
    </style>
}

templ Home() {
	@component.Layout(component.LayoutProps{
		Section: component.Section{
			Styles:  []templ.Component{HomeStyle()},
			Scripts: []templ.ComponentScript{HomeScript()},
		},
		ShowNavbar:  true,
		ShowSidebar: true,
		CurrentPage: "home",
	}) {
		<h1>Homepage</h1>
	}
}
